<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erik.study.mybatis.base.use.xml.config.mapper.SysUserMapper">
    
    <resultMap id="sysUserMap" type="erik.study.mybatis.base.use.xml.config.entity.SysUser">
        <id property="id" column="id"/>
        <result property="name" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="email" column="user_email"/>
        <result property="info" column="user_email"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="sysUserMap">
        select * from sys_user where id = #{id}
    </select>


</mapper>
