<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="erik"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--    还不会配置package，不过*Mapper.xml文件肯定要放在resources中的，至少不能放java类文件下    -->
        <mapper resource="mapper/CountryMapper.xml"/>
        <mapper resource="mapper/SysUserMapper.xml"/>
    </mappers>
</configuration>