<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erik.study.mybatis.mapper.spring.mapper.CountryMapper">

    <resultMap id="countryResultMap" type="erik.study.mybatis.mapper.common.model.Country">
        <id column="id" property="id"/>
        <result column="country_code" property="countryCode"/>
        <result column="country_name" property="countryName"/>
    </resultMap>

    <select id="selectAll" resultMap="countryResultMap">
        select *
        from country
    </select>

    <select id="selectOneWithoutParam" resultType="erik.study.mybatis.mapper.common.model.Country">
        select *
        from country
        where id = 1
    </select>

    <select id="selectOneById" parameterType="java.lang.Integer"
            resultMap="countryResultMap">
        select *
        from country
        where id = #{id}
    </select>

    <select id="selectOneByIdAndCodeWithList" resultType="erik.study.mybatis.mapper.common.model.Country">
        select *
        from country
        where id = #{0}
        and country_code = #{1}
    </select>

    <select id="selectOneByIdAndCodeWithMap" resultType="erik.study.mybatis.mapper.common.model.Country">
        select *
        from country
        where id = #{id}
        and country_code = #{countryCode}
    </select>

    <select id="selectOneByIdAndCode" resultType="erik.study.mybatis.mapper.common.model.Country">
        select id,
            country_name as countryName,
            country_code as countryCode
        from country
        where id = #{id}
            and country_code = #{countryCode}
    </select>

    <update id="updateById" parameterType="erik.study.mybatis.mapper.common.model.Country">
        update country
        set
            country_name = #{countryName},
            country_code = #{countryCode}
        where id = #{id}
    </update>


</mapper>
